.block-entry {
	background: #F7F9FA;
	padding: 1em 0;
	width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.block-entry__teaser {
	font-size: 2em;
}

@media only screen and (min-width: 970px) {
	.block-entry__teaser {
		margin-left: -1.2em;
	}
}
