.block-signup {
	background: #1D75CC;
	color: #fff;
	padding: 1em 0;
	width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.block-signup__input-text,
.block-signup__submit {
	border: 0;
	border-radius: 2em;
	font-family: "Avenir Next W01", sans-serif;
	padding: .7em 2em;
	font-size: 14px;
	width: 100%;
}

.block-signup__input-text {
	border: 1px solid #EEF2F4;
	box-sizing: border-box;
	padding: .7em 1em;
	min-width: 20em;
	margin-bottom: 1em;
	margin-right: .5em;
}

.block-signup__input-text:hover,
.block-signup__input-text:focus {
	border-color: #8091A5;
}

.block-signup__input-honeypot {
	position: absolute;
	left: -5000px;
}

.block-signup__submit {
	border: 0;
	background-color: #5BC098;
	background-image: linear-gradient(#5BC098, #459575);
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.block-signup__submit:hover,
.block-signup__submit:focus {
	background-image: none;
}


@media only screen and (min-width: 600px) {
	.block-signup {
		padding: 4em 0;
	}

	.block-signup__input-text,
	.block-signup__submit {
		width: auto;
	}

	.block-signup__input-text {
		margin-bottom: 0;
		padding: .7em 1em;
	}
}
