body {
	color: #212F3E;
	font-family: "Avenir Next W01", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: 2em; /* 36px */
	font-weight: 400;
}

h2 {
	font-size: 1.5em; /* 24px */
	font-weight: 400;
}


img,
iframe {
	border: 1px solid #ddd;
	display: block;
	margin: 1em 0;
	max-width: 100%;
	max-height: 300px;
}

a,
a:visited {
	color: #1D75CC;
}

a:hover,
a:active {
	color: #212F3E;
}

.back,
.back:visited {
	opacity: 0.5;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 1em;
}

.back:hover,
.back:active {
	opacity: 1;
}

.container {
	max-width: 48em;
	margin: 0 auto;
	padding: 1em;
}

header {
	background: url('images/header-image.jpg') no-repeat center bottom;
	background-size: cover;
	color: white;

}

header .title {
	padding-top: 5vw;
	padding-bottom: 20vw;
}

li p {
	margin: 0;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 18px;
		line-height: 1.7;
  }

	header {
	}

	header .title {
		text-align: center;
	}

  img {
		max-width: 80%;
  }
}
